<h1>Tweet Index  ------ Test Test</h1>


<%= form_for :tweet, url: tweets_path, method: :post do |f| %>

			 <%= f.text_field :body %>
			
			<%= f.submit "Submit" %>
<% end %>
			
	
<div class="buttons"><%= link_to "Add a Photo", new_tweet_path %></div>








<% @tweets.each do |tweet|	%>
	  
	<%= tweet.body %></br>
	<%= tweet.likes.count %></br>


	<% tweet.replies.each do |reply|	%>
	  
		<%= reply.body %></br>
		<%= link_to "Reply Delete", tweet_reply_path(tweet_id: tweet.id, id: reply.id), method: :delete %></br>

		<%= link_to "Reply Edit!!!!!!!!!!!!!!!!!!!!!!!!!!", edit_tweet_reply_path(tweet_id: tweet.id, id: reply.id) %></br>



 	<% end	%>

	<%= link_to "Tweet Edit", edit_tweet_path(id: tweet.id) %></br>

	<%= link_to "Tweet Delete", tweet_path(id: tweet.id), method: :delete %></br>

	<%= link_to "Reply", new_tweet_reply_path(tweet_id: tweet.id) %></br>


	




<% end	%>


<form action="/action_page.php">
  <input type="file" name="pic" accept="image/*">
  <input type="submit">
</form>



