                  <% likecheck = tweet.likes.find_by(user_id: current_user.id) %>
                   <% a = Like.where(tweet_id:tweet.id) %>
                    <% if likecheck != nil %>
                      <%= link_to tweet_like_path(tweet_id: tweet.id, id: likecheck.id), method: :delete, remote: true do %>
                        <button style="color: #1DA1F2;" data-toggle="tooltip" data-placement="top" title="<%= @usernn %>!">
                          <span class="glyphicon glyphicon-heart"></span><small id="likecount"> <%= a.count %></small>
                        </button>
                      <% end %>
                    <% elsif likecheck == nil %>
                      <%= link_to tweet_likes_path(tweet_id: tweet.id),method: :post, remote: true do %>
                      <button style="color: #434A54;" name="" id="tweet_body" data-toggle="tooltip" data-placement="top" title="<%= @usernn %>!">
                        <span class="glyphicon glyphicon-heart"></span><small> <%= a.count %></small>
                      </button>
                      <% end %>
                  <% end %>