<div class="cover">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <div class="desc">
          <h2>Welcome to AC Tweet!</h2>
          <h3>Connect with your Alpha Camp peers!</h3>
        </div>
      </div>
      <div class="col-md-4">
        <!-- login box -->
        <div class="introbox">
          <%= form_for(:user, url: session_path(:user)) do |f| %>
            <input type="email" name="user[email]" id="user_email" class="form-control" placeholder="Email"> 
            <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
              <div class="col-md-8"><input type="password" name="user[password]" id="user_password" class="form-control" placeholder="Password"></div>
              <div class="col-md-4"><%= f.submit 'Sign in', class: 'btn btn-default' %></div>
            </div>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: 'control-label' %>
            <%= link_to "Forgot password?", new_password_path(:user) %>
          <% end %>
        </div>
        <!-- end login box -->
        <div class="introbox" style="margin-top: 10px;">
          <h4>New to AC-Tweet? <span style="color: grey;">Sign up</span></h4>
          <%= form_for(:user, url: registration_path(:user)) do |f| %>
              

            <div class="field">
              <input type="email" id="user_email" name="user[email]" class="form-control" placeholder="Email">
            </div>

            <div class="field">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <input type="password" name="user[password]" id="user_password" class="form-control" placeholder="Password" style="margin-top: 5px; margin-bottom: 5px;">
            </div>

            <div class="field">
              <input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control" placeholder="Confirm Password" style="margin-bottom: 5px;">
            </div>

            <div class="actions">
              <%= f.submit "Sign up for AC-Tweet", class: 'btn btn-primary pull-right' %>
            </div><br><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
