<div class="tweets">
  <div class="container">
    <div class="row">
      <!-- 
        User Profile Box (left) 
      -->
      <div class="col-md-3">
        <div class="box">
          <div class="userpic">
            <span><i class="glyphicon glyphicon-camera"></i></span>
          </div>
          <div class="username">
            <h4><%= @username %></h4>
          </div>
          <div class="status">
            <div class="row">
              <div class="col-md-4">
                <div class="statushead">Tweets</div>
                <div class="statsnum"><%= @tweets.count %></div>
              </div>
              <div class="col-md-4">
                <div class="statushead">Following</div>
                <div class="statsnum"><%= @userfollow.following.count %></div>
              </div>
              <div class="col-md-4">
                <div class="statushead">Followers</div>
                <div class="statsnum"><%= @userfollow.followers.count %></div>
              </div>
            </div>
          </div>
        </div>

        <div class="box" id="whotofollow">
          <table class="table table-hover tablecont">
            <thead>
              <th><h5>Who to follow</h5></th>
            </thead>
            <tbody>
              <% @alluser.each do |user| %>
              <% if current_user != user %>
              <% email = user.email %>
              <% useremail, *rest = email.split(/@/) %>
              <tr>
                <td>
                  <% if current_user.following?(user) %>

                    <%= form_for(current_user.active_followings.find_by(followed_id: user.id),
                                 html: { method: :delete }) do |f| %>
                      <button class="btn btn-sm pull-right" name="commit">Unfollow</button>
                      <%= useremail %>
                    <% end %>
                  <% else %>
                    
                    <%= form_for(current_user.active_followings.build) do |f| %>
                      <%= hidden_field_tag :followed_id, user.id %>
                      <button class="btn btn-default btn-sm pull-right" name="commit">follow</button>
                    <% end %>
                    <%= useremail %>
                  <% end %>
                </td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>

      <!-- 
        Tweets Box (Center)
      -->
      <div class="col-md-6">
        <div class="tweetshead">
          <h4>All User Tweets</h4>
           &bull;
           <%= link_to root_path do %>
          <a href="">
            <small> Refresh</small>
            <i class="glyphicon glyphicon-refresh"></i>
          </a>
          <% end %>
        </div>
        
        <!--
         check for any tweets 
        -->
        <% if Tweet.count == 0 %>
          <i>There are no tweets.</i>
        
        <% else %>

        <!--
         call each tweet 
        -->
        <% @userstweets.each do |tweet| %>
        <% user = User.find(tweet.user_id) %>
        <% if current_user.following?(user) %>
        <% user = tweet.user_id %>
        <% usernamee = User.find(user).email %>
        <% @usernamee, *rest = usernamee.split(/@/) %>
        
        <div class="box">
          <div class="boxwrap">
            <div class="row">
              <div class="col-md-1"><div class="profilepic img-circle"><i class="glyphicon glyphicon-camera"></i></div></div>
              <div class="col-md-11">
                <strong>@<%= @usernamee %></strong>
                <span class="tweettime">&bull; <%= time_ago_in_words(tweet.created_at) %> ago </span>
                <div><%= tweet.body %></div>
                <div class="row tooltip-tweet" style="margin-top: 20px;">
                  <div class="col-md-2">
                    <% tweet_id = tweet.id %>
                    <% a = Like.where(tweet_id:tweet_id) %>

                    <!-- 
                    function for like by whoever using tooltip 
                    -->
                    <% if a.count == 0 %>
                      <% @usernn = 'Like!' %>
                    <% else %>
                      <% @usernn = 'Liked by ' %>
                      <% a.each do |likeuser| %>
                        <% username = User.find(likeuser.user_id).email %>
                        <% @usern, *rest = username.split(/@/) %>
                        <% if @usernn == 'Liked by ' %>
                          <% @usernn += @usern %>
                        <% else %>
                          <% @usernn += ', ' + @usern %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <!-- 
                    end of like by whoever function 
                    -->
                    
                    <!-- 
                    check if the user has liked a tweet 
                    -->
                    <% likecheck = tweet.likes.find_by(user_id: current_user.id) %>
                    <% if likecheck != nil %>
                      <%= link_to tweet_like_path(tweet_id: tweet.id, id: likecheck.id), method: :delete do %>
                        <button style="color: #1DA1F2;" data-toggle="tooltip" data-placement="top" title="<%= @usernn %>!">
                          <span class="glyphicon glyphicon-heart"></span><small id="likecount"> <%= a.count %></small>
                        </button>
                      <% end %>
                    <% elsif likecheck == nil %>
                      <%= link_to tweet_likes_path(tweet_id: tweet.id),method: :post do %>
                      <button style="color: #434A54;" name="" id="tweet_body" data-toggle="tooltip" data-placement="top" title="<%= @usernn %>!">
                        <span class="glyphicon glyphicon-heart"></span><small> <%= a.count %></small>
                      </button>
                      <% end %>
                    <% end %>
                    <!-- 
                    end of check if user liked a tweet 
                    -->

                  </div>

                  <!--
                   reply function 
                  -->
                  <div class="col-md-2">
                    <%= link_to new_tweet_reply_path(tweet_id: tweet.id) do %>
                    <button style="color: #434A54;">
                      <span class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="top" title="Reply"></span><small> <%= if tweet.replies.count != 0 then tweet.replies.count end %></small>
                    </button>
                    <% end %>


                  </div>
                  <!--
                   end of reply function 
                  -->

                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
      <!--
       end of  call each tweet  
      -->

      <!-- 
        new tweet box (right)
      -->
      <div class="col-md-3">
        <div class="boxwrap usertweet">
          <%= form_for @tweet, url: tweets_path, method: :post do |f| %>
            <textarea row="2" name="tweet[body]" id="tweet_body" class="form-control" placeholder="New Tweet" required></textarea>
            <button type="submit" name="commit" class="btn btn-primary" data-type="last">Tweet</button>
            <!-- <%= f.submit "Tweet", class: 'btn btn-primary pull-righ' %> -->
          <% end %>
        </div>
        <div class="box boxwrap usertweets">
          <h4>Your tweets</h4>
          <% if @usertweets.count == 0 %>
            <i><small>You have no tweets.</small></i>
          <% end %>
          <ul class="list-group">
            <% @usertweets.each do |tweet| %>
              <li class="list-group-item">
                <%= link_to tweet_path(id:tweet.id), method: :delete do %>
                <button class="trash">
                  <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete tweet!"></span>
                </button>
                <% end %>
                
                <span class="badge badge-default glyphicon glyphicon-comment">
                    <%= tweet.replies.count %>
                </span><span class="badge badge-default glyphicon glyphicon-heart">
                    <%= tweet.likes.count %>
                </span>
                <%= link_to new_tweet_reply_path(tweet_id: tweet.id) do %>
                <%= tweet.body %>
                <% end %>
              </li>
              
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>