<nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>"><%=image_tag 'alpha-logo', height: "40px" %></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
              <% if Notification.where(tweet: current_user.id).count != 0 %>
                <li class="dropdown">
                  <a class="nav-link dropdown-toggle glyphicon glyphicon-bell" href="#" data-toggle="dropdown" style="font-size: 18px;">
                  <span class="badge badge-danger" style="font-size: 12px;"><%= Notification.where(tweet: current_user.id).count %></span></a>
                  <ul class="dropdown-menu" style="background-color: white" role="menu">
                    <% @noti.each do |n| %>
                    <li style="width: 300px;">
                      <%= n.notify %>
                      <% n.destroy %>
                      <hr>
                    </li>
                    <% end %>
                  </ul>
                </li>
                  <% else %>
                  <li>
                    <%= link_to do %>
                  <span class="nav-link glyphicon glyphicon-bell" style="font-size: 18px;">
                  </span>
                  <% end %>
                </li>
                  <% end %>
                  
                <li>
                  <%= link_to edit_user_registration_path do %>
                  <span class="nav-link glyphicon glyphicon-user" href="#" style="font-size: 18px;">
                  <span style="font-size: 12px;"></span></span>
                  <% end %>
                </li>
                  
              <% end %>
              <!-- <li><a class="nav-link" href="#">About</a></li> -->
              
            </ul>
          </div>
        </div>
      </nav>